<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%=plot.number%>">
  <h3>Plot <%= plot.number %></h3>
    <ul>
  <% plot.plants.each do |plant| %>
      <li><%= plant.name %>
      <%= button_to "Remove #{plant.name}", plot_plant_path(plot, plant), method: :delete %></li>
  <% end %>
    </ul>
  </div>
<% end %>
