<% @plots.each do |plot| %>
  </br><p>Plot Number: <%= plot.number %></p>
  <% plot.plants.each do |plant| %>
    <p>Planted Here: <%= plant.name %> -  <%= link_to "Remove Plant", plot_plant_plot_path(plot.id, plant.id), method: :delete %></p>
  <%end%>
<%end%>
