<h1>Plots index</h1>
<ul>
  <% @plots.each do |plot| %>
    <li>Plot #<%= plot.number%></li>
    <% plot.plants.each do |plant| %>
    <li><%= plant.name%></li><%= button_to "Remove #{plant.name} from plot ##{plot.number}", remove_plant_from_plot_path(plant.id, plot.id), method: :delete %>
    <% end %>
    <br>
  <% end %>
</ul>
