<h1>Plots Index Page</h1>

<% @plots.each do |plot| %>
  <div id ="plot-<%= plot.number %>">
    <h2>Plot Number: <%= plot.number %></h2>
    <ul>
      <% plot.plants.each do |plant| %>
        <li><%= plant.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
