<% @plots.each do |plot| %>
    <section id="plot_<%= plot.id %>">
    <br>
    <p>Plot Number: <%= plot.number %>
    <br>
    <% plot.plants.each do |plant| %>
        <br>
        <%= plant.name %>
        <%= button_to "Delete #{plant.name}", plot_plant_plot_path(plot.id, plant.id), method: :delete %>
    <% end %>
    </section>
<% end %>
