<h1>Plots index</h1>
<ul>
  <% @plots.each do |plot| %>
    <li>Plot #<%= plot.number%></li>
    <% plot.plants.each do |plant| %>
    <li><%= plant.name%></li>
    <% end %>
    <br>
  <% end %>
</ul>
