<h1>Plots</h1>
<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <p>Number: <%= plot.number %></p>
    <% plot.plants.each do |plant| %>
      <p><%= plant.name %></p>
      <p><%= button_to "Remove #{plant.name}", plot_plant_path(plot, plant), method: :delete  %></p>
    <% end %> 
  </div>
<% end %>
  