<h1>Plots</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot Number: <%= plot.number %></h3>
    <% plot.plants.each do |plant| %>
      <p>Plants: <%= plant.name %> <%= button_to "Remove Plant #{plant.id}", plant_plot_path(plot, plant), method: :delete %></p>
    <% end %>
  </div>
<% end %>