<h1>All Plots</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot #<%= plot.number %></h3>
    <p>Plants: </p>
    <ul>
      <% plot.plot_plants.each do |plot_plant| %>
        <li><%= plot_plant.plant.name %> - <%= link_to "[Delete]", plot_plant_path(plot_plant.id), method: :delete, id: "delete-#{plot_plant.id}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>