<h1>Plots Index</h1>

<p><% @plots.each do |plot| %></p>
  <p>Plot Number: <%= plot.number %></p>
<p> Plot Plants: </p>
  <p><% plot.plants.each do |plant| %></p>
    <p><%= plant.name %></p>
  <% end %>
<% end %>
