<% @plots.each do |plot| %>
  </br><p>Plot Number: <%= plot.number %></p>
  <% plot.plants.each do |plant| %>
    <p>Planted Here: <%= plant.name %> -  <%= button_to "Remove Plant", plot_path(plant), method: :delete %></p>
  <%end%>
<%end%>
