<h1><%= @garden.name %></h1>

<div id="plant-list">
  <h4>Flowers with Less Than 100 Days to Harvest</h4>
    <% @quick_harvest.each do |plant| %>
    <p>Name: <%= plant %></p>
    <% end %> 
</div>

<div id="sorted-list">
  <h4>List of Flowers in <%= @garden.name %> Garden</h4>
    <% @sorted_flowers.each do |flower| %>
      <p><%= flower %></p>
    <% end %>
</div>